{% extends "base.html" %}
{% block morejs %}
<script>
    var ROOM = '{{ room }}';
    var NICKNAME = '{{ nickname }}';
</script>
<script type="text/javascript" src="/js/chat.js"></script>
{% endblock %}
{% block content %}
<h1>Welcome <span id="nickname">{{nickname}}</span></h1>
<div class="messages-container">
    <div class="chat_messages">
        <ul id="messages"></ul>
    </div>
    <div class="room_messages">
        <ul id="rmMsgs"></ul>
    </div>
</div>

<div>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</div>
{% endblock %}