* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    height: 500px;
}


.heading {
    background-color: rgb(255,130,0);
    height: 75px;
    border: 1.5px solid black;
    text-align: center;
}

.name-box {
    border: 2px solid black;
    height: 100vh;
    background-color: rgb(146, 182, 239);
    text-align: center;
    padding-top: 50px;
}

form input {
    margin-bottom: 20px;
}